<h1>List of users</h1>

<hr>

<table border="1">
  <tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>

    <th>
      
    </th>

    <th>
      
    </th>

  </tr>

  <% @list_of_users.each do |a_user| %>

    <tr>
      <td>
        <%= a_user.username %>
      </td>

      <th>
        <% if a_user.fetch('private') != true %>
          No
        <% else %>
          Yes
        <% end %>
      </th>
      
      <% if current_user != nil %>
        <td>
          <form action="/insert_follow_request" method="post">
            <label for="recipient"></label>
            <input type="text" name="query_recipient_id" id="recipient" value="<%= a_user.id%>">

            <button>Follow</button>
          </form >
        </td>
      <% else %>
        <td>
        </td>
      <% end %>

      <td>
        <a href="/users/<%= a_user.username %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
